@model MyTicketAdmin.Models.DatosObj.MCliente


@{ 
    Layout = null;
    var cook = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index","Tickets",FormMethod.Post))
        {
           <label for="busqIdCliente">Ingrese Id Cliente</label>
           <input type="number" id="busqIdCliente" name="busqIdCliente" placeholder="Id Cliente" required />
           
           <input type="submit" value="Buscar" id="buscarTCliente" name="buscarTCliente" />
        }
    </div>
    <div>
        
        @Html.DisplayFor(model => model.codPersona)
        @Html.DisplayFor(model => model.nombre)
        @Html.DisplayFor(model => model.apPaterno)
        @Html.DisplayFor(model => model.apMaterno)
        @Html.DisplayFor(model => model.email)
        @Html.DisplayFor(model => model.fono)
        @Html.DisplayFor(model => model.cel)
    </div>
    <div>
        @if (Model != null)
        {
            @Html.ActionLink("Nuevo Ticket", "nuevoTicket", "Tickets")
        }
           </div>
    <div> 
        <table>
            <thead>
                    <tr>
                        <th>Codigo Estado</th>
                        <th>Codigo Gravedad</th>
                        <th>Codigo Ticket</th>
                        <th>Tipo Atencion</th>
                        <th>Usuario Ingreso</th>
                        <th>Descripcion </th>
                        <th>Detalle Ticket</th>
                        <th>Es Masivo</th>
                        <th>Fecha Respuesta</th>
                        <th>Fecha Vencimiento</th>
                    </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>

       
    </div>
    @Html.ActionLink("Principal","Principal","Principal")
</body>
</html>
