@model MyTicketAdmin.Models.DatosObj.MCliente


@{
    Layout = null;
    var tickets = new List<mt_tab_ticket>();
    if (Model != null)
    {
        tickets = MyTicketAdmin.Controllers.ConPG.Tickets(Model.codPersona);
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index","Tickets",FormMethod.Post))
        {
           <label for="busqIdCliente">Ingrese Id Cliente</label>
           <input type="number" id="busqIdCliente" name="busqIdCliente" placeholder="Id Cliente" required />
           
           <input type="submit" value="Buscar" id="buscarTCliente" name="buscarTCliente" />
        }
    </div>
    <div>
        
        @Html.DisplayFor(model => model.codPersona)
        @Html.DisplayFor(model => model.nombre)
        @Html.DisplayFor(model => model.apPaterno)
        @Html.DisplayFor(model => model.apMaterno)
        @Html.DisplayFor(model => model.email)
        @Html.DisplayFor(model => model.fono)
        @Html.DisplayFor(model => model.cel)
    </div>
    <div>
        @if (Model != null)
        {
           
            @Html.ActionLink("Nuevo Ticket", "nuevoTicket", "Tickets")
           
        }
           </div>
    <div> 
       @if(Model != null) { 
        <table>
            <thead>
                    <tr>
                        <th>Codigo Estado</th>
                        <th>Codigo Gravedad</th>
                        <th>Codigo Ticket</th>
                        <th>Tipo Atencion</th>
                        <th>Usuario Ingreso</th>
                        <th>Asunto </th>
                        <th>Detalle Ticket</th>
                        <th>Es Masivo</th>
                        <th>Fecha Respuesta</th>
                        <th>Fecha Vencimiento</th>
                    </tr>
            </thead>
            <tbody>
               @foreach (var item in tickets)
               {
                   <tr>
                       <td>
                           @item.ticket_est_ticket
                       </td>
                       <td>
                           @item.ticket_cod_gravedad
                       </td>
                       <td>
                           @item.ticket_cod_ticket
                       </td>
                       <td>
                           @item.ticket_cod_tipoatencion
                       </td>
                       <td>
                           @item.ticket_cod_usuaingreso
                       </td>
                       <td>
                           @item.ticket_dsc_asunto
                       </td>
                       <td>
                           @item.ticket_dsc_detalle
                       </td>
                       <td>
                           @item.ticket_es_masivo
                       </td>
                       <td>
                           @item.ticket_fec_respuesta
                       </td>
                       <td>
                           @item.ticket_fec_vencimiento
                       </td>
                       <td>
                           @Html.ActionLink("Editar", "editarTicket", new { id = item.ticket_cod_ticket })
                       </td>
                   </tr>
               }
            </tbody>
        </table>
       }

    </div>
    @Html.ActionLink("Principal","Principal","Principal")
</body>
</html>
