@model MyTicketAdmin.Models.DatosObj.MTicket
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>nuevoTicket</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.codEstadoTicket,"Estado Ticket")
            @Html.EditorFor(model => model.codEstadoTicket)

            @Html.LabelFor(model => model.codGravedad,"Codigo Gravedad")
            @Html.EditorFor(model => model.codGravedad)

            @Html.LabelFor(model => model.codPersona,"Codigo Persona")
            @Html.EditorFor(model => model.codPersona)

            @Html.LabelFor(model => model.codTicket,"Codigo Ticket")
            @Html.EditorFor(model => model.codTicket)

            @Html.LabelFor(model => model.codTipoAtencion,"Tipo Atencion")
            @Html.EditorFor(model => model.codTipoAtencion)

            @Html.LabelFor(model => model.descAsunto,"Asunto")
            @Html.EditorFor(model => model.descAsunto)

            @Html.LabelFor(model => model.detalleTicket,"Descripcion Problema")
            @Html.TextAreaFor(model => model.detalleTicket)

            @Html.LabelFor(model => model.esMasivo)
            @Html.EditorFor(model => model.esMasivo,"checkbox")

            <input type="submit" value="Guardar" id="grdTicket" name="grdTicket" />
        }
    </div>
</body>
</html>
