
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
    <link rel="stylesheet" href="~/Estilos/cssRegistro.css" />
</head>
<body>
   
    <div id="pos">
        <h1>Panel de control</h1>
    </div>
    <div id="cuerpoCentral" class="central">
        <aside id="menuLat">
            <h1><Strong>Menu</Strong></h1>
            
            <ul>
                <li> <a href="../Register/IngresoPersona"  target="ifInfo">xxxxIngresar persona</a></li>
                <li>@Html.ActionLink("Ingresar persona","IngresoPersona","Register")</li>
                <li>@Html.ActionLink("Ingresar Direccion", "IngresoDireccion", "Register")</li>
                <li>@Html.ActionLink("Registrar usuario","IngresoUsuario","Register")</li>
                <li>@Html.ActionLink("Registrar Rol Usuario","IngresoRolUsua","Register")</li>
                <li>@Html.ActionLink("Tickets","Index","Tickets")</li>
                <li>Eliminacion usuario</li>
                <li>Modificacion usuario</li>
                <li></li>
                <li>Reporte de actividad</li>
                <li>@Html.ActionLink("btnMail", "../Principal/btnMail")</li>
                <li>Salir</li>
            </ul>
        </aside> 
        <div id="cuerpoInfo" name="cuerpoInfo">
            <iframe id="ifInfo" name="ifInfo"></iframe>
        </div>
    </div>
    <div>
        
            <input type="button" value="Enviar" id="btnMail" name="btnMail" onclick="@Url.Action("btnMail", "//Principal");" />
            
        
        
    </div>
</body>
</html>
