
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Ingresar Direccion","IngresoDireccion","Register")
        <br />
        @Html.ActionLink("Ingresar Persona", "IngresoPersona", "Register")
        <br />
        @Html.ActionLink("Ingresar Usuario", "IngresoUsuario", "Register")
        <br />
        @Html.ActionLink("Ingresar Direccion", "IngresoDireccion", "Register")
        <br />
        @Html.ActionLink("Asignar Rol Usuario", "IngresoRolUsua", "Register")
        <br />
        @Html.ActionLink("Principal", "Principal", "Principal")
        
    </div>
</body>
</html>
